
VITE_ENABLE_ANALYTICS=
VITE_ENABLE_INVOICER=
VITE_ENABLE_INVOICER_PRO=
VITE_ENABLE_INVOICER_USER_INFORMATION=
VITE_ENABLE_EMAIL_FEATURE=

# analytics firebase api keys
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APPID=

# site url
VITE_SITE_URL=""

# authenticator firebase api keys
VITE_AUTH_FIREBASE_API_KEY=
VITE_AUTH_FIREBASE_AUTH_DOMAIN=
VITE_AUTH_FIREBASE_PROJECT_ID=
VITE_AUTH_FIREBASE_STORAGE_BUCKET=
VITE_AUTH_FIREBASE_MESSAGING_SENDER_ID=
VITE_AUTH_FIREBASE_APPID=
VITE_AUTH_FIREBASE_MEASUREMENTID=

# Sendgrid Config
VITE_SENDGRID_API_KEY=
VITE_SENDGRID_VERIFIED_EMAIL_KEY=

# Stripe payment system

VITE_AUTH_STRIPE_CONNECTION_SECRET_KEY=
VITE_AUTH_STRIPE_CONNECTION_API_VERSION=

# used to handle refresh / redirect after login
# must be full url and use our domain in prod. sample : http://localhost:8888/settings?success=1
VITE_AUTH_STRIPE_RETURN_URL=
VITE_AUTH_STRIPE_REFRESH_URL=

# used to handle refresh / redirect after payment complete
# must be full url and use our domain in prod. sample : http://localhost:8888/rental?failure=1
VITE_AUTH_STRIPE_PAYMENT_CONFIRMATION_SUCCESS_URL=
VITE_AUTH_STRIPE_PAYMENT_CONFIRMATION_FAILURE_URL=


VITE_AUTH_STRIPE_CONNECTION_INSTRUCTIONS=
VITE_AUTH_STRIPE_CONNECTION_ISSUES_INSTRUCTIONS=
VITE_AUTH_STRIPE_SECURITY_AND_COMPLIANCE=